
<div class="component-layout">
    <div class="search-bar">
      <!--
	  <select [(ngModel)]="searchField">
        <option value="">-- select field --</option>
        <option *ngFor="let f of availableFields" [value]="f">{{ f }}</option>
      </select>
	  -->
	  <app-dropdown
  [label]="'Field'"
  [options]="searchFieldOptions"
  [valueField]="'value'"
  [displayField]="'displayName'"
  [multiple]="false"
  [formGroup]="searchForm"
  [controlName]="'searchField'"
  [orientation]="'vertical'"
  [typeable]="false"
  [dir]="'ltr'"
  (selectItem)="onSearchFieldSelected($event)">
</app-dropdown>
      <input type="text" [(ngModel)]="searchTerm" placeholder="search term" />
      <button (click)="triggerSearch()">Search</button>
    </div>

    <app-org-tree class="tree-main"
      [state$]="chartState$"
      (search$)="handleSearch($event)">
    </app-org-tree>
	</div>
 